
    
    <a href="{% url 'inicio' %}">Inicio</a>
    <a href="{% url 'cadastrar_usuario' %}">Cadastrar Usuários</a>
    <a href="{% url 'visualizar_usuario' %}">Visualizar Usuários</a>
    <a href="{% url 'cadastrar_cliente' %}">Cadastrar Clientes</a>
    <a href="{% url 'visualizar_cliente' %}">Vizualizar Clientes</a>
    <a href="{% url 'cadastrar_produto' %}">Cadastrar Produtos</a>
    <a href="{% url 'visualizar_produto' %}">Vizualizar Produtos</a>
    
    




{% block menu_app %}


{% endblock %}