<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% extends 'menu.html' %}
        {% block menu_app %}
    
        

        Listando usuários

<ul>
    {% for usuarios in usuarios %}
        <li> {{usuarios.id}} - {{usuarios.nome}} - {{usuarios.sobrenome}} - {{usuarios.email}} - {{usuarios.permissao}} 
            <a href="{% url 'editar_usuario' usuarios.id %}">Editar</a>
            <a href="{% url 'delete_usuario' usuarios.id %}">Deletar</a>
        </li>
    {% endfor%}
</ul>


{% endblock %}
    </body>
</html>